name: oas
channels:
  - anaconda
  - conda-forge
  - defaults
dependencies:
  - asttokens=2.0.5=pyhd3eb1b0_0
  - backcall=0.2.0=pyhd3eb1b0_0
  - ca-certificates=2023.5.7=h56e8100_0
  - colorama=0.4.6=py38haa95532_0
  - decorator=5.1.1=pyhd3eb1b0_0
  - docopt=0.6.2=py_1
  - executing=0.8.3=pyhd3eb1b0_0
  - ipython=8.12.0=py38haa95532_0
  - jedi=0.18.1=py38haa95532_1
  - libffi=3.4.4=hd77b12b_0
  - libsodium=1.0.18=h62dcd97_0
  - matplotlib-inline=0.1.6=py38haa95532_0
  - openssl=1.1.1u=h2bbff1b_0
  - parso=0.8.3=pyhd3eb1b0_0
  - pickleshare=0.7.5=pyhd3eb1b0_1003
  - pip=23.1.2=py38haa95532_0
  - prompt-toolkit=3.0.36=py38haa95532_0
  - pure_eval=0.2.2=pyhd3eb1b0_0
  - pygments=2.15.1=py38haa95532_1
  - pysimplegui=4.60.5=pyhd8ed1ab_0
  - python=3.8.15=h6244533_2
  - pyzmq=23.2.0=py38hd77b12b_0
  - setuptools=67.8.0=py38haa95532_0
  - six=1.16.0=pyhd3eb1b0_1
  - sqlite=3.41.2=h2bbff1b_0
  - stack_data=0.2.0=pyhd3eb1b0_0
  - traitlets=5.7.1=py38haa95532_0
  - typing_extensions=4.6.3=py38haa95532_0
  - vc=14.2=h21ff451_1
  - vs2015_runtime=14.27.29016=h5e58377_2
  - wcwidth=0.2.5=pyhd3eb1b0_0
  - wheel=0.38.4=py38haa95532_0
  - zeromq=4.3.4=hd77b12b_0
  - pip:
      - coloredlogs==15.0.1
      - flatbuffers==23.5.26
      - h5py==3.9.0
      - humanfriendly==10.0
      - mpmath==1.3.0
      - numpy==1.24.4
      - onnxruntime==1.15.1
      - opencv-python==4.8.0.74
      - packaging==23.1
      - pillow==10.0.0
      - protobuf==4.23.4
      - pyreadline3==3.4.1
      - pyserial==3.5
      - sympy==1.12
      - tqdm==4.65.0
      - xinput-python==0.4.0
